:root {
    --color: rgb(55, 53, 53);
}

body {
    background-color: var(--color);
    margin: 0;
}

.informationObject {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #333333, #000000);
}


.flexContainer1 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-between;
}

.titleAlgoInfo {
    display: flex;
    font-size: 100px;
    background-color: rgba(40, 40, 40, 0.085);
    padding-left: 2rem;
    padding-top: 2rem;
    font-family: 'Electrolize', Courier, monospace;
}

.sortingAlgoInfo {
    max-width: 900px;
    text-align: center;
    font-size: 22px;
    line-height: 1.6;
    margin: 2rem;
    padding: 1rem;
    background-color: var(--color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.mergeQuickCards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 800px;
    margin: 2rem auto;
    background-color: black;

}

.card {
    flex: 0 1 calc(50% - 1rem);
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    background-color: var(--color);
    margin-bottom: 2.5rem;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.02);
    background-color: var(--color);
    border-radius: 20px;
}

.cardTitle {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: var(--color);
    text-decoration: underline;
}

.cardDescription {
    font-size: 16px;
    line-height: 1.5;
    padding: 1.25rem;
    background-color: var(--color);
}

.algoRuntimes {
    margin-top: 1rem;
    font-size: 14px;
    color: #555;
}


.logCards {
    font-size: 50px;
    font-weight: 700;

}

.quadraticCards {
    font-size: 50px;
    font-weight: 700;
}

.insertionBubbleCards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 800px;
    margin: 2rem auto;
    background-color: black;
    border-radius: 10px;

}

.runtimes {
    max-width: 900px;
    padding: 2rem;
    font-size: 22px;
    line-height: 1.6;
    margin: 2rem;
    padding: 1rem;
    background-color: var(--color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

.tableHeader {
    font-size: 22px;
    text-decoration: underline;
}

.tableLabel,
.tableValue {
    padding: 8px 12px;
}

tr {
    border-bottom: 1px solid '#ccc';
}

tr:hover {
    background-color: #f5f5f5;
    font-weight: bold;
    color: white;
}

td {
    padding: 8px;
}

th {
    padding: 12px;
    text-align: left;
    background-color: green;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .titleAlgoInfo {
        display: flex;
        font-size: 70px;
        background-color: rgba(40, 40, 40, 0.085);
        padding-left: 2rem;
        padding-top: 2rem;
        font-family: 'Electrolize', Courier, monospace;
    }
}